/* .mainBackground {
    background-image: url("./images/cuttingboard-bg.png");
    opacity: 0.7;
} */

body {
    background-image: url("./images/cuttingboard-bg.png");
    opacity: 0.7;
    position: relative;
    min-height: 100vh;
}

.container-wrap {
    padding-bottom: 4rem;
}

/* h1 {
    font-family: 'Fredoka', sans-serif;
    font-size: 30px;
} */

/* .brown {
   background-color:#BD906A;
   opacity: 0.5;
} */
/*
 .red {
    color: #DE342E;
} 
 .green {
    color:#98F03D
} 

h1, h2, h3, h4 {
    font-family: Fredoka, sans-serif;
    color: #DE342E;
}

.navBlock {
    color: #BD906A;
    border-bottom-color: #98F03D;
    margin-bottom: 10px;
}



.card {
    margin: 5px 5px 5px 5px;
    min-width: 20em;
    max-width: 90%;
    padding: 20; 
}

.card-head {
    width: 100%;
}

.cardTitle {
    border-bottom: 2px solid #DE342E;
}

.cardDifficulty {
    border-Top: 2px solid Navy;
    font-weight: bold;
} */