.card {
    /* margin: px; */
    margin-top: 1rem;
    /* min-width: 20em;
    max-width: 90%; */
}

.card-head {
    width: 100%;
} 

.cardTitle {
    border-bottom: 2px solid #DE342E;
}

.cardDifficulty {
    border-Top: 2px solid Navy;
    font-weight: bold;
}